#
# Join multiple ADCP runs together
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Join multiple ADCP runs together

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/MISC/adcpJoin.py \
	--logfile=adcpJoin.log \
	--verbose \
	--pattern=PS22_23_MacKinnon \
	--exclude=_Cal
        
[Install]
WantedBy=default.target

