#
# SSHtunnel service file
# Set up a service which maintains a SSH tunnel to a host
# that can be backtracked
#
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=SSHtunnel

[Service]
# type=simple
# 
# This is run via the --user command, so it will run as User/Group

WorkingDirectory=%h/SUNRISE2022/SSHTunnel

ExecStart= \
	%h/SUNRISE2022/SSHTunnel/tunnel.py \
	--verbose \
	--logfile=%h/logs/SSHTunnel.log \
	--host=sunrise.ceoas.oregonstate.edu

Restart=on-success
RestartSec=120

# Harden
NoNewPrivileges=true

[Install]
WantedBy=default.target
