#
# Faux MET data generation
#
# May-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Faux Pelican

[Service]
# type=simple
# 
# This is run via the --user command, so it will run as User/Group

WorkingDirectory=%h/SUNRISE2022/Faux

ExecStart= \
	%h/SUNRISE2022/Faux/met.py \
	--verbose \
	--logfile=%h/logs/met.pe.log \
	--output=%h/SUNRISE2022/Faux/data/PE/met.csv \
	--yaml=%h/SUNRISE2022/Faux/pe.yaml

RestartSec=30

[Install]
WantedBy=default.target
