#
# MET DB to NetCDF
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=MET DB to NetCDF

[Timer]
# dayOfWeek Year-Month-Day Hour:Minute:Second
# sync data every minute
OnCalendar=*-*-* *:5/10:13 UTC
Persistent=false
Unit=met2nc.pe.service

[Install]
WantedBy=timers.target
