#
# Append to a NetCDF file from the PostgreSQL database
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=MET DB to NetCDF

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/MET/db2nc.py \
	--logfile=%h/logs/db2nc.log \
	--verbose \
	--yaml=%h/SUNRISE2022/MET/decimate.yaml \
	--key=met.pe \
	--nc=/mnt/sci/data/Platform/PE/ShipDas/met.nc
        
[Install]
WantedBy=default.target

