#
# Append to a NetCDF file from the PostgreSQL database
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Aries RHIB ADCP DB to NetCDF

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/RHIB/adcp2nc.py \
	--ship=Aries \
	--nc=/mnt/sci/data/Platform/Aries/ADCP/adcp.nc \
	--logfile=%h/logs/rhibADCP2nc.Aries.log \
	--verbose
        
[Install]
WantedBy=default.target

