#
# send datagrams with ship computer status information
#
# May-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Monitor my status

[Service]
# Type=simple # Default
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/MonitorTemperature/monitor.py \
	--logfile=monitor.pi.log \
	--dt=600 \
	--tcp \
	--verbose \
	--hostsYAML=%h/SUNRISE2022/MonitorTemperature/hosts.yaml \
	--host=128.193.72.57
	
RestartSec=600
Restart=always

[Install]
WantedBy=multi-user.target
