#
# Sync ship's current ADCP netCDF files to Sync
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=ADCP NC to Sync

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/Sync/syncadcp2shore.pe.sh
        
[Install]
WantedBy=default.target

