#
# Sync from/to the science share Processed_NC from/to Sync
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Shore syncing to/from

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/Sync/syncadcp.shore.py \
	--verbose \
	--logfile=syncADCP.shore.log
        
[Install]
WantedBy=default.target

