#
# Sync section definition files
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Sync section defintion files

[Timer]
# dayOfWeek Year-Month-Day Hour:Minute:Second
# sync data every 1/2 hour
OnCalendar=*-*-* *:06/30:00 UTC
Persistent=true

[Install]
WantedBy=timers.target

