#
# Run rsync to sync xband videos to Sync
#
# June-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=xband videos to Sync

[Service]
# Launced by timer
Type=oneshot
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/Sync/syncit.py \
	--logfile=%h/logs/xband.log \
	--verbose \
	--tgt=%h/Sync/PointSur/xband \
	/mnt/xband/Recorder/VIDEO
        
[Install]
WantedBy=default.target

