#
# Listen for datagrams containing NEMA sentences with AIS payloads.
# Decrypt the payloads and send them to consumers.
#
# sudo cp AIS.service /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable AIS.service
# sudo systemctl start AIS.service
#
# May-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Collect AIS datagrams

[Service]
# Type=simple # Default
WorkingDirectory=%h/logs
#
ExecStart=%h/SUNRISE2022/AIS/aisChomp.py \
    --logfile=AIS.log \
    --udp=44444 \
    --rawSQLite3=ais.pe.raw.db \
    --aisCSV=%h/Sync/Processed/AIS/ais.ps.csv
	
RestartSec=60
Restart=always

[Install]
WantedBy=default.target
