#
# Fetch EOSDIS data from NASA
#
# N.B. This has two components, EOSDIS.service and EOSDIS.timer
#
# cp EOSDIS.* ~/.config/systemd/user
#
# systemctl --user daemon-reload
# systemctl --user enable EOSDIS.timer EOSDIS.service
# systemctl --user start EOSDIS.timer
#
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Download EOSDIS data from NASA

[Service]
# Launced by timer
Type=oneshot
# Since this is installed in user space, it will run as the proper user/group
# User=pat
# Group=pat
# 
# %h is becomes the user's home directory, $HOME
WorkingDirectory=%h/SUNRISE2022/EOSDIS
#
ExecStart=%h/SUNRISE2022/EOSDIS/EOSDIS.py \
	--pruned=%h/Sync/Shore/EOSDIS/Pruned \
	--logfile=%h/logs/EOSDIS.log \
	--mailTo="pat@mousebrains.com" \
	--mailSubject="EOSDIS Fetcher" \
	--verbose
        
[Install]
WantedBy=multi-user.target

